<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <title>Register and Train</title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>
<body>
    <h1>Register User and Train Model</h1>
    <form id="register-form">
        <label for="name">Name:</label>
        <input type="text" id="name" name="name" required />
        <br />
        <label for="kelas">Class:</label>
        <input type="text" id="kelas" name="kelas" required />
        <br />
        <label for="nim">NIM:</label>
        <input type="text" id="nim" name="nim" required />
        <br />
        <!-- Tambahkan tag video untuk menampilkan output kamera -->
        <video id="video" width="640" height="480" autoplay></video>
        <br />
        <!-- Tambahkan tombol untuk mengambil foto -->
        <button id="capture">Capture</button>
        <br />
        <br />
        <input type="submit" value="Register" />
    </form>
    <button id="train-model">Train Model</button>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
